<!DOCTYPE html>
<html>
<head>
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="不孕不育管理系统" name="description" />
    <meta content="terius" name="author" />
    <title>@ViewBag.Title</title>




    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@
    <link href="~/Metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Metronic/assets/global/css/components-rounded.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Metronic/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/Metronic/assets/layouts/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/Metronic/assets/layouts/layout/css/themes/mycolor.css" rel="stylesheet" type="text/css" id="style_color" />

    <!-- END THEME LAYOUT STYLES -->
    @RenderSection("styles", required: false)
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Metronic/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>

    @RenderSection("headjs", required: false)
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="page-sidebar-closed-hide-logo page-content-white page-header-fixed page-sidebar-fixed" style="overflow-y:hidden">
    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="index.html">
                        <img src="~/Metronic/assets/layouts/layout/img/logo.png" alt="logo" class="logo-default" />
                    </a>
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">


                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="~/Metronic/assets/layouts/layout/img/avatar3_small.jpg" />
                                <span class="username username-hide-on-mobile"> Nick </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="page_user_profile_1.html">
                                        <i class="icon-user"></i> 修改密码
                                    </a>
                                </li>
                                <li>
                                    <a href="page_user_login_1.html">
                                        <i class="icon-key"></i> 退出
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->

                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 10px">


                        <li class="nav-item">
                            <a href="~/MedicalHistory/Index" class="nav-link">
                                <i class="icon-notebook"></i>
                                <span class="title">@*病历管理*@BLGL</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Consultation/Index" class="nav-link">
                                <i class="icon-user"></i>
                                <span class="title">@*会诊管理*@HZGL</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link">
                                <i class="icon-user"></i>
                                <span class="title">转诊管理</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-folder"></i>
                                <span class="title">子菜单1</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="~/TEST/Index" class="nav-link">
                                        <i class="icon-camera"></i>
                                        <span class="title">测试页面</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Tranfer/Index" class="nav-link">
                                        <i class="icon-link"></i>
                                        <span class="title">ZZGL</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link">
                                        <i class="icon-pointer"></i>
                                        <span class="title">Sample Link 3</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link">
                                        <i class="icon-pointer"></i>
                                        <span class="title">Sample Link 3</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link">
                                        <i class="icon-pointer"></i>
                                        <span class="title">Sample Link 3</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link">
                                        <i class="icon-pointer"></i>
                                        <span class="title">Sample Link 3</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-folder"></i>
                                <span class="title">子菜单2</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="~/TEST1/Index" class="nav-link">
                                        <i class="icon-camera"></i>
                                        <span class="title">测试页面</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Tranfer1/Index" class="nav-link">
                                        <i class="icon-link"></i>
                                        <span class="title">ZZGL</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link">
                                        <i class="icon-pointer"></i>
                                        <span class="title">Sample Link 3</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link">
                                        <i class="icon-pointer"></i>
                                        <span class="title">Sample Link 3</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link">
                                        <i class="icon-pointer"></i>
                                        <span class="title">Sample Link 3</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link">
                                        <i class="icon-pointer"></i>
                                        <span class="title">Sample Link 3</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link">
                                        <i class="icon-pointer"></i>
                                        <span class="title">Sample Link 3</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <script>

                        var url = location.pathname;
                        var $menuRoot = $(".page-sidebar-menu");
                        $(".nav-item.active", $menuRoot).removeClass("active");
                        //  $(".page-sidebar-menu .nav-item.active").removeClass("active");
                        $(".nav-link", $menuRoot).each(function () {
                            if ($(this).attr("href").indexOf(url) >= 0) {
                                $(this).parent().addClass("active");
                                var $navLink = $(this).closest(".sub-menu").prev();
                                if ($navLink.length > 0) {
                                    //$menuRoot.children('li.open').children('a').children('.arrow').removeClass('open');
                                    //$menuRoot.children('li.open').children('.sub-menu:not(.always-open)').slideUp(200);
                                    //$menuRoot.children('li.open').removeClass('open');

                                    $navLink.children(".arrow").addClass("open");
                                    $navLink.parent().addClass("open");
                                    $navLink.next().slideDown(200);
                                }
                                return false;
                            }
                        })


                    </script>
                    <!-- END SIDEBAR MENU -->
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content scroller" id="mycontent">
                    @RenderBody()
                </div>
                <!-- END CONTENT BODY -->


            </div>
            <!-- END CONTENT -->

        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner text-center" style="width:100%;color:#808080">
                2016 &copy; Metronic Theme By
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
    </div>
    <script>
                        $("#mycontent").outerHeight($(window).height() - $(".page-header").outerHeight(true));
                        //$("#mycontent").slimScroll({
                        //    allowPageScroll: true, // allow page scroll when the element scroll is ended
                        //    size: '7px',
                        //    color: '#2D5F8B',
                        //    wrapperClass: ($(this).attr("data-wrapper-class") ? $(this).attr("data-wrapper-class") : 'slimScrollDiv'),
                        //    railColor: ($(this).attr("data-rail-color") ? $(this).attr("data-rail-color") : '#eaeaea'),
                        //    position: isRTL ? 'left' : 'right',
                        //    height: height,
                        //    alwaysVisible: ($(this).attr("data-always-visible") == "1" ? true : false),
                        //    railVisible: ($(this).attr("data-rail-visible") == "1" ? true : false),
                        //    disableFadeOut: true
                        //});
    </script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@





    <!--[if lt IE 9]>
    <script src="~/Metronic/assets/global/plugins/respond.min.js"></script>
    <script src="~/Metronic/assets/global/plugins/excanvas.min.js"></script>
    <script src="~/Metronic/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->

    <script src="~/Metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Metronic/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>

    <script src="~/Metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Metronic/assets/global/scripts/app.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/Metronic/assets/layouts/layout/scripts/layout.js" type="text/javascript"></script>

    <script src="~/Scripts/layui/layui.all.js"></script>

    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/myvue.js"></script>

    @*<script src="~/Metronic/assets/layouts/layout/scripts/demo.js" type="text/javascript"></script>*@
    @*<script src="~/Metronic/assets/layouts/global/scripts/quick-sidebar.js" type="text/javascript"></script>
        <script src="~/Metronic/assets/layouts/global/scripts/quick-nav.js" type="text/javascript"></script>*@
    <!-- END THEME LAYOUT SCRIPTS -->

    <script src="~/Scripts/myajax.js"></script>
    <script src="~/Scripts/common.js"></script>
    @RenderSection("pagejs", required: false)
    <script>
                        $(function () {
                            //  com.setContentHeight("#mycontent", ".page-header");
                            // App.initSlimScroll('#mycontent');
                        })

    </script>
</body>
</html>
