@model IList<BYBY.Services.Views.ConsultationRoomListView>
@{
    ViewBag.Title = "会诊室管理";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            会诊室管理
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>

    <div class="portlet-title">
        <div class="querycontent">
            <div class="form-inline" id="query-content">
                <div class="form-group">
                    <button type="button" class="btn blue btn-outline" id="btn-add">
                        <i class="fa fa-plus"></i> 新增诊室
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="portlet-body">
        <div class="row room-list" id="room-list" v-cloak>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" v-for="info in list">
                <div class="content">
                    <div class="pic">
                        <img :src="info.Pic" style="height:100%" />
                    </div>
                    <div class="title"><h3>{{info.Name}}</h3></div>
                    <div class="control">
                        <a href="javascript:;" class="btn blue btn-outline" v-on:click="showEdit(info)" style="margin-right:30px">编辑名称</a>
                        <a href="javascript:;" class="btn blue btn-outline" v-on:click="showDelete(info.Id)" >删除诊室</a>
                    </div>
                </div>
            </div>
          

        </div>

    </div>
</div>


<div id="modal-add">
    <v-modal v-cloak v-bind:tinfo="modalinfo" >
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="@Url.Action("AddRoom","Hospital")" id="save-form">
                    <input id="Id" name="Id" type="hidden" :value="addinfo.Id" />
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-3">诊室名称</label>
                            <div class="col-xs-6">
                                <input type="text" name="Name" class="form-control w300 required" maxlength="100" :value="addinfo.Name">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <button type="button" slot="bottom" class="btn blue btn-outline" id="btn-save" v-on:click="save">保  存</button>
    </v-modal>
</div>




@section styles
{
}

@section pagejs
{
    @System.Web.Optimization.Scripts.Render("~/bundles/js/jqueryvalidate")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/jqueryform")
<script>
        $(function () {
           var allData =  @Html.RenderAsJson(Model);
            var addForm = null;
            var addModal = null;

            var vueadd = new Vue({
                el: '#modal-add',
                data: {
                    modalinfo: {
                        id: "modeladdnew",
                        title: "新增诊室",
                        data: {}

                    },
                    addinfo: {}

                },
                mounted: function () {
                    addForm = $("#save-form");
                    addModal = $("#modeladdnew");
                    addForm.validateForm();
                },
                methods: {
                    save: function () {
                        com.jqFormOption.success = function (res) {
                            if (res.Result) {
                                ShowSuccessThenReload(res.SuccessMessage);
                            }
                            else {
                                ShowErrorMessage(res.ErrorMessage);
                            }
                        };
                        addForm.ajaxSubmit(com.jqFormOption);
                    }
                }

            });

            var vueList = new Vue({
                el: "#room-list",
                data: {
                    list: allData
                },
                methods: {
                    showEdit: function (editInfo) {
                        com.showLog(editInfo);
                        vueadd.modalinfo.title = "编辑诊室";
                        vueadd.addinfo = editInfo;
                        addForm.attr("action", "/Hospital/EditRoom");
                        addModal.modal('show');
                    },
                    showDelete: function (id) {
                        com.confirm("是否要删除此诊室？", function () {
                            com.ajaxquery("/Hospital/DeleteRoom", { Id: id }).then(function (res) {
                                if (res.Result) {
                                    ShowSuccessThenReload(res.SuccessMessage);
                                }
                                else {
                                    ShowErrorMessage(res.ErrorMessage);
                                }
                            });

                        });
                    }
                }

            });


            $("#btn-add").on("click", function() {
                vueadd.modalinfo.title = "新增诊室";
                addForm.attr("action", "/Hospital/AddRoom");
                vueadd.addinfo = {};
                addModal.modal('show');
            })

            

            /*******************************初始执行方法***********************************/
         

        });
</script>
}

