@model BYBY.Services.Models.PlanListModel
@{
    ViewBag.Title = "医生排班管理";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            医生排班管理
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>

    <div class="portlet-title" id="top-action">
        <div class="querycontent">
            <div class="form-inline" id="query-content">
                <div class="form-group margin-right-10">
                    <button type="button" class="btn blue btn-outline" id="btn-prev-week">
                        <i class="fa fa-angle-left"></i> 上一周
                    </button>
                </div>
                <div class="form-group margin-right-10">
                    <button type="button" class="btn blue btn-outline" id="btn-next-week">
                        下一周 <i class="fa fa-angle-right"></i>
                    </button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn blue btn-outline" id="btn-this-week">
                        本周
                    </button>
                </div>
                <div class="form-group">
                    <select class="selectpicker show-tick " data-width="196px" id="SelectRoom">
                        @foreach (var item in Model.RoomList)
            {
                <option value="@item.id">@item.text</option>
}

                    </select>
                    <select class="selectpicker show-tick " data-width="196px" id="SelectDoctor">
                        <option>--所有医生--</option>
                        @foreach (var item in Model.DoctorList)
            {
                <option value="@item.id">@item.text</option>
}

                    </select>
                    @*<select2 id="SelectHospital" class="w150" data-placeholder="--请选择医院--" :options="HospitalList">
            </select2>
            <select2 id="SelectRoom" class="w150" data-placeholder="--请选择会诊室--" :options="RoomList">
            </select2>
            <select2 id="SelectDoctor" class="w150" data-placeholder="--请选择医生--" :options="DoctorList">
            </select2>*@
                </div>
                <div class="form-group plan-date-range">
                    <h3 id="date-range-text">日期选择范围：2018-01-01 - 2018-01-07</h3>
                </div>
            </div>
        </div>
        <div class="myactions">
            <button type="button" class="btn blue btn-outline margin-right-20" id="btn-edit" v-on:click="showEdit()">
                <span v-if="editmodel==0">编辑</span>
                <span v-else>取消编辑</span>
            </button>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table  table-bordered plan-table" id="query-table" v-cloak>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>时段</th>
                    <th v-for="week in list.WeekTitles">{{week}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(info,index) in list.DateViews">
                    <td style="width:4%">{{index+1}}</td>
                    <td style="width:12%">{{info.STime}} - {{info.ETime}}</td>
                    <td v-for="planView in info.OneDayPlans" class="plan-day-content">
                        <div v-if="planView.Id !=0 && editmodel==0" class="view-content" v-on:mouseenter="showConsultation" v-on:mouseleave="hideConsultation">
                            <p><strong>排班医生：</strong>{{planView.DoctorName}}</p>
                            <p><strong>排班人数：</strong>{{planView.People}}</p>
                            <div class="cons-detail">
                                <p><strong>当前申请会诊数：</strong><a href="javascript:;" class="show-tips">{{planView.ConsultationCount}}</a></p>
                                <div class="popover fade bottom in" data-popout="true" style="top: 0; left: 0;">
                                    <div class="arrow" style="left: 50%;"></div>
                                    <div class="popover-content text-center">
                                        <div class="cons-detail-list" v-for="cons in planView.ConsultationList">
                                            <p><strong>申请医院：</strong>{{cons.Hospital}}  <strong>申请医生：</strong>{{cons.Doctor}}</p>
                                            <p><strong>女方患者：</strong>{{cons.Female}}  <strong>男方患者：</strong>{{cons.Male}}</p>
                                            <p><strong>会诊状态：</strong>{{cons.Status}}</p>
                                            <p><a :href="'/Consultation/Detail?id=' + cons.Id">查看详细</a></p>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                        <div v-if="editmodel==1 && checkDateIsNow(planView.PlanDate)">
                            <select2 id="DoctorId" class="w150" data-placeholder="无" v-model="planView.DoctorId" :options="DoctorList">
                            </select2>
                            <input type="text" name="People" placeholder="会诊人数" v-model="planView.People" style="width:150px;margin-top:10px" class="form-control">

                        </div>

                    </td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10" class="action">

                        <button type="button" class="btn blue btn-outline" v-if="editmodel==1" id="btn-save" v-on:click="save()">
                            保存
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>



@section styles
{
    @System.Web.Optimization.Styles.Render("~/bundles/css/select2")
    @System.Web.Optimization.Styles.Render("~/bundles/css/bootstrapselect")
}

@section pagejs
{
    @System.Web.Optimization.Scripts.Render("~/bundles/js/select2")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/bootstrapselect")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/jqueryvalidate")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/jqueryform")
    <script>
        $(function () {
            var vuetable = null;
            var dateSelect = null;
            var allData = @Html.RenderAsJson(Model);
            var nowDate = com.getNowDate();

          //   com.showLog(allData,"默认")



            var search = function (weekSelect) {
                var roomId = $("#SelectRoom").val();
                if (!roomId) {
                    ShowLayerAlert("请先选择会诊室");
                    return;
                }
                var para = {};
                para.WeekSelect = weekSelect;
                para.DateSelect = dateSelect;
                para.RoomId = roomId;
                para.DoctorId = $("#SelectDoctor").val();
             //   com.showLog(para,"查询参数");
                com.ajaxquery("/Hospital/QueryPlan", para).then(function (mydata) {
                    $("#date-range-text").text("日期选择范围：" + mydata.DateSelect + " - " + mydata.EndDate);
                    com.showLog(mydata);
                    if (vuetable == null) {
                        vuetable = new Vue({
                            el: '#query-table',
                            data: {
                                list: mydata,
                                editmodel: 0,
                                DoctorList: allData.DoctorList,
                                selectDoctor: para.DoctorId
                            },
                            mounted: function () {
                               // showTips(".view-content");
                            },
                            methods: {

                                save: function () {
                                  //  com.showLog(this.list.DateViews);
                                   // return;
                                    com.ajaxquery("/Hospital/SavePlan", this.list.DateViews).then(function (res) {
                                        if (res.Result) {
                                            ShowSuccessThenReload(res.SuccessMessage);
                                        }
                                        else {
                                            ShowErrorMessage(res.ErrorMessage);
                                        }
                                    });
                                },
                                showConsultation: function (event) {
                                  
                                    var $this = $(".show-tips", event.target);
                                    var val = $this.text();
                                    if (val == "0") {
                                        return;
                                    }
                                    var tips = $this.parent().next();

                                    var os = $this.position();
                                    var newLeft = os.left - (tips.outerWidth() / 2) + 5;
                                    var newTop = os.top + $this.height();
                                    //  com.showLog("newLeft:" + newLeft + "   newTop:" + newTop + " width:" + tips.outerWidth());
                                    tips.css({ "left": newLeft, "top": newTop }).show().on("mouseleave", function () {
                                        tips.hide();
                                    });
                                },
                                hideConsultation: function (event) {
                                    var tips = $(".popover", event.target);
                                    setTimeout(function () {
                                        if (!$(".popover:hover").length) {
                                            tips.hide();
                                        }
                                    }, 100);
                                },
                                checkDateIsNow: function(selectDate) {
                                    if (selectDate < nowDate) {
                                        return false;
                                    }
                                    return true;
                                }
                            }

                        })
                    }
                    else {
                        vuetable.list = mydata;
                        dateSelect = mydata.DateSelect;
                        vuetable.selectDoctor = para.DoctorId;
                      //  showTips(".view-content");
                    }
                });
            };

            var vuequery = new Vue({
                el: '#top-action',
                data: {
                  //  HospitalList: allData.HospitalList,
                    RoomList: allData.RoomList,
                    DoctorList: allData.DoctorList,
                    editmodel: 0
                },
                mounted: function () {

                  //  var vm = this;
                    //$("#SelectHospital").on("change", function () {
                    //    var selectHid = $(this).val();
                    //    // alert(selectHid);
                    //    if (!selectHid) {
                    //        vm.RoomList = allData.RoomList;
                    //        vm.DoctorList = allData.DoctorList;
                    //        vm.RoomList.splice(0, 0, { id: "", text: "",parent:"" });
                    //        vm.DoctorList.splice(0, 0, { id: "", text: "", parent: "" });
                    //        return;
                    //    }

                    //  //  $("#SelectRoom").val("").trigger('change');
                    //    var selectRooms = [];
                    //    selectRooms.push({ id: "", text: "", parent: "" });
                    //    for (var i = 0; i < allData.RoomList.length; i++) {
                    //        if (allData.RoomList[i].parent == selectHid) {
                    //            selectRooms.push(allData.RoomList[i]);
                    //        }
                    //    }
                    //    vm.RoomList = selectRooms;
                    //  //  $("#SelectRoom").val(null).trigger('change');


                    //    var selectDoctors = [];
                    //    selectDoctors.push({ id: "", text: "", parent: "" });
                    //    for (var i = 0; i < allData.DoctorList.length; i++) {
                    //        if (allData.DoctorList[i].parent == selectHid) {
                    //            selectDoctors.push(allData.DoctorList[i]);
                    //        }
                    //    }
                    //    vm.DoctorList = selectDoctors;
                    //    // $("#SelectDoctor").val("").trigger('change');

                    //});
                    $("#SelectRoom,#SelectDoctor").on("change", function () {
                        search(3);
                    });
                  //  $("#SelectHospital").val(allData.HospitalList[0].id).trigger('change');
                  //  $("#SelectRoom").val(allData.RoomList[0].id).trigger('change');
                },
                methods: {
                    showEdit: function () {
                        var roomId = $("#SelectRoom").val();
                        if (!roomId) {
                            ShowLayerAlert("请先选择会诊室");
                            return;
                        }

                        if (vuequery.editmodel == 0) {
                            vuequery.editmodel = vuetable.editmodel= 1;

                            com.setDisabled("#query-content", true);
                        }
                        else {
                            vuequery.editmodel = vuetable.editmodel = 0;
                            com.setDisabled("#query-content", false);
                        }
                    }
                }

            })

      



            $("#query-content").on("click", "#btn-prev-week", function () {
                search(1);
            }).on("click", "#btn-next-week", function () {
                search(2);
            }).on("click", "#btn-this-week", function () {
                search(3);
            });



            /*******************************初始执行方法***********************************/
            search(3, 0)

        });
    </script>
}

