@model BYBY.Services.Models.PlanListModel
@{
    ViewBag.Title = "医生排班管理";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            医生排班管理
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>

    <div class="portlet-title">
        <div class="querycontent">
            <div class="form-inline" id="query-content">
                <div class="form-group margin-right-10">
                    <button type="button" class="btn blue btn-outline" id="btn-prev-week">
                        <i class="fa fa-angle-left"></i> 上一周
                    </button>
                </div>
                <div class="form-group margin-right-10">
                    <button type="button" class="btn blue btn-outline" id="btn-next-week">
                        下一周 <i class="fa fa-angle-right"></i>
                    </button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn blue btn-outline" id="btn-this-week">
                        本周
                    </button>
                </div>
                <div class="form-group" id="select-content">
                    <select2 id="SelectHospital" class="w150" data-placeholder="--请选择医院--" :options="HospitalList">
                    </select2>
                    <select2 id="SelectRoom" class="w150" data-placeholder="--请选择会诊室--" :options="RoomList">
                    </select2>
                    <select2 id="SelectDoctor" class="w150" data-placeholder="--请选择医生--" :options="DoctorList">
                    </select2>
                </div>
            </div>
        </div>

    </div>
    <div class="portlet-body">
        <table class="table  table-bordered plan-table" id="query-table" v-cloak>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>时段</th>
                    <th v-for="week in list.WeekTitles">{{week}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(info,index) in list.DateViews">
                    <td>{{index+1}}</td>
                    <td>{{info.STime}} - {{info.ETime}}</td>
                    <td v-for="planView in info.OneDayPlans">
                        <span v-if="planView.Id !=0 && editmodel==0">{{planView.DoctorName}}/{{planView.People}}</span>
                        <div v-if="editmodel==1">
                            <select2 id="DoctorId" class="w150" data-placeholder="无" v-model="planView.DoctorId" :options="DoctorList">
                            </select2>
                            <input type="text" name="People" placeholder="会诊人数" v-model="planView.People" style="width:150px;margin-top:10px" class="form-control">

                        </div>
                    </td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10" class="action">
                        <button type="button" class="btn blue btn-outline margin-right-20" id="btn-edit" v-on:click="showEdit()">
                            <span v-if="editmodel==0">编辑</span>
                            <span v-else>取消编辑</span>
                        </button>
                        <button type="button" class="btn blue btn-outline" v-if="editmodel==1" id="btn-save" v-on:click="save()">
                            保存
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>



@section styles
{
    @System.Web.Optimization.Styles.Render("~/bundles/css/select2")
    @System.Web.Optimization.Styles.Render("~/bundles/css/bootstrapselect")
}

@section pagejs
{
    @System.Web.Optimization.Scripts.Render("~/bundles/js/select2")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/bootstrapselect")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/jqueryvalidate")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/jqueryform")
    <script>
        $(function () {
            var vuetable = null;
            var dateSelect = null;
            var allData = @Html.RenderAsJson(Model);

            var vuequery = new Vue({
                el: '#select-content',
                data: {
                    HospitalList: allData.HospitalList,
                    RoomList: allData.RoomList,
                    DoctorList: allData.DoctorList
                },
                mounted: function () {
                    $("#SelectRoom").val(allData.RoomList[0].id).trigger('change');
                    var vm = this;
                    $("#SelectHospital").on("change", function () {
                        var selectHid = $(this).val();
                       // alert(selectHid);
                        if (!selectHid) {
                            vm.RoomList = allData.RoomList;
                            vm.DoctorList = allData.DoctorList;
                            vm.RoomList.splice(0, 0, { id: "", text: "" }); 
                            vm.DoctorList.splice(0, 0, { id: "", text: "" }); 
                            return;
                        }
                        var selectRooms = [];
                        selectRooms.push({ id: "", text: "" });
                        for (var i = 0; i < allData.RoomList.length; i++) {
                            if (allData.RoomList[i].parent == selectHid) {
                                selectRooms.push(allData.RoomList[i]);
                            }
                        }
                        vm.RoomList = selectRooms;
                     //   $("#SelectRoom").val("").trigger('change');


                        var selectDoctors = [];
                        selectDoctors.push({id:"",text:""});
                        for (var i = 0; i < allData.DoctorList.length; i++) {
                            if (allData.DoctorList[i].parent == selectHid) {
                                selectDoctors.push(allData.DoctorList[i]);
                            }
                        }
                        vm.DoctorList = selectDoctors;
                       // $("#SelectDoctor").val("").trigger('change');

                    });
                    $("#SelectDoctor").on("change", function () {
                       // selectDoctor = $(this).val();
                       // $("[name='DoctorId']").val(selectDoctorId).trigger('change');
                    });
                },
                methods: {
                }

            })
          //   com.showLog(allData,"默认")



            var search = function (weekSelect) {
                var roomId = $("#SelectRoom").val();
                if (!roomId) {
                    ShowLayerAlert("请先选择会诊室");
                    return;
                }
                var para = {};
                para.WeekSelect = weekSelect;
                para.DateSelect = dateSelect;
                para.RoomId = roomId;
                com.showLog(para,"查询参数");
                com.ajaxquery("/Hospital/QueryPlan", para).then(function (mydata) {

                    com.showLog(mydata);
                    if (vuetable == null) {
                        vuetable = new Vue({
                            el: '#query-table',
                            data: {
                                list: mydata,
                                editmodel: 0,
                                DoctorList: allData.DoctorList
                            },
                            mounted: function () {

                            },
                            methods: {
                                showEdit: function () {
                                    var selectRoom = $("#SelectRoom").val();
                                    alert(selectRoom)
                                    return;

                                    if (vuetable.editmodel == 0) {
                                        vuetable.editmodel = 1;
                                    }
                                    else {
                                        vuetable.editmodel = 0;
                                    }
                                },
                                save: function () {

                                    com.ajaxquery("/Hospital/SavePlan", this.list.DateViews).then(function (res) {
                                        if (res.Result) {
                                            ShowSuccessThenReload(res.SuccessMessage);
                                        }
                                        else {
                                            ShowErrorMessage(res.ErrorMessage);
                                        }
                                    });
                                }
                            }

                        })
                    }
                    else {
                        vuetable.list = mydata;
                        dateSelect = mydata.DateSelect;
                    }
                });
            };





            $("#query-content").on("click", "#btn-prev-week", function () {
                search(1);
            }).on("click", "#btn-next-week", function () {
                search(2);
            }).on("click", "#btn-this-week", function () {
                search(3);
            }).on("change", "#room-select", function () {
                search(3);
            });



            /*******************************初始执行方法***********************************/
            search(3, 0)

        });
    </script>
}

