@model BYBYApp.Models.ReferralListModel
@{
    ViewBag.Title = "转诊管理";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            转诊管理
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>

    <div class="portlet-title">
        <div class="querycontent">
            <div class="form-inline" id="query-content">
                <div class="form-group " style="margin-right:50px;margin-top:5px">
                    <label for="search-key">状态：</label>
                    <div class="input-group">
                        <div class="icheck-inline">
                            <label>
                                <input type="checkbox" class="icheckBlue" id="checkall" checked>全部
                            </label>
                            <label>
                                <input type="checkbox" class="icheckBlue" id="checkrequest">申请中
                            </label>
                            <label>
                                <input type="checkbox" class="icheckBlue" id="checkcancel">已取消
                            </label>
                            <label>
                                <input type="checkbox" class="icheckBlue" id="checkconfirm">已确认
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group margin-left-20">
                    <label for="search-key">患者信息：</label>
                    <input type="text" class="form-control" id="search-key" placeholder="输入患者信息">
                </div>
                <div class="form-group margin-left-20">
                    <label>开始日期：</label>
                    <div class="input-group date-picker input-daterange">
                        <input type="text" id="txt_stime" class="form-control s-time" name="txt_stime" readonly>
                        <span class="input-group-addon"> 到 </span>
                        <input type="text" id="txt_etime" class="form-control e-time" name="txt_etime" readonly>
                    </div>
                </div>
                <div class="form-group margin-left-20">
                    <button type="button" class="btn blue btn-outline margin-left-20" id="btn-query">
                        <i class="fa fa-search"></i> 查询
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="portlet-body" id="tableshow">
        <table class="table  table-bordered" id="query-table" v-cloak>
            <thead>
                <tr>
                    <th></th>
                    <th>序号</th>
                    <th>转诊医院</th>
                    <th>女方姓名</th>
                    <th>女方年龄</th>
                    <th>男方姓名</th>
                    <th>男方年龄</th>
                    <th>转诊状态</th>
                    <th>病历转诊状态</th>
                    <th>转诊时间</th>
                    <th>转诊医生</th>
                    <th>申请人</th>
                    <th>申请时间</th>
                    <th>操作</th>
                </tr>

            </thead>
            <tbody>
                <template v-for="(info,index) in datas.Data">
                    <tr>
                        <td><a href="javascript:;" v-on:click="showDetail"><i class="fa fa-plus fa-2x" style="margin-top:5px;"></i></a></td>
                        <td>{{index+1}}</td>
                        <td>{{info.Hospital}}</td>
                        <td>{{info.FemaleName}}</td>
                        <td>{{info.FemaleAge}}</td>
                        <td>{{info.MaleName}}</td>
                        <td>{{info.MaleAge}}</td>
                        <td><span :class="info.ReferralStatusColorClass">{{info.ReferralStatus}}</span></td>
                        <td><span :class="info.MHReferralStatusColorClass">{{info.MHReferralStatus}}</span></td>
                        <td>{{info.RequestDate}}</td>
                        <td></td>
                        <td>{{info.AddUser}}</td>
                        <td>{{info.AddTime}}</td>
                        <td style="padding-right:15px">
                            <div style="padding-top:5px;text-align:right">
                                @if (ViewBag.IsMasterDoctor == false)
                                {
                                    //子院医生操作
                                    <a v-if="info.MHReferralStatus=='无' || info.MHReferralStatus=='已取消'" href="javascript:;" class="margin-right-10" v-on:click="showRequest(info.MHId)"><i class="fa fa-2x fa-stethoscope tooltips" data-container="body" data-placement="top" data-original-title="申请转诊"></i></a>
                                    <a v-if="info.MHReferralStatus=='申请中'" href="javascript:;" class="margin-right-10" v-on:click="showConfirmPanel(info.Id,3)"><i class="fa fa-2x fa-undo tooltips" data-container="body" data-placement="top" data-original-title="取消转诊"></i></a>
                                }
                                else
                                {
                                    //母院医生操作
                                    <a v-if="info.MHReferralStatus=='申请中'" href="javascript:;" class="margin-right-10" v-on:click="showConfirmPanel(info.Id,4)"><i class="fa fa-2x fa-hand-peace-o tooltips" data-container="body" data-placement="top" data-original-title="确认转诊"></i></a>
                                    <a v-if="info.MHReferralStatus=='申请中'" href="javascript:;" class="margin-right-10" v-on:click="showConfirmPanel(info.Id,3)"><i class="fa fa-2x fa-undo tooltips" data-container="body" data-placement="top" data-original-title="取消转诊"></i></a>
                                }
                                @*<a :href="'/Tranfer/Detail/' + info.Id" class="margin-right-10"><i class="fa fa-2x fa-file-text-o tooltips" data-container="body" data-placement="top" data-original-title="转诊详细"></i></a>*@
                                <a :href="'/MedicalHistory/Detail/' + info.MHId" class="margin-right-10"><i class="fa fa-2x fa-file-text-o tooltips" data-container="body" data-placement="top" data-original-title="病历详细"></i></a>

                            </div>
                        </td>
                    </tr>
                    <tr class="tb-detail-view">
                        <td colspan="20">
                            <div class="col-md-6">
                                <p><b>转诊医院:</b>{{info.Hospital}}</p>
                                <p><b>女方姓名:</b>{{info.FemaleName}}</p>
                                <p><b>女方年龄:</b>{{info.FemaleAge}}</p>
                                <p><b>男方姓名:</b>{{info.MaleName}}</p>
                                <p><b>男方年龄:</b>{{info.MaleAge}}</p>
                                <p><b>转诊状态:</b>{{info.ReferralStatus}}</p>
                                <p><b>转诊时间:</b>{{info.RequestDate}}</p>
                                <p><b>转诊医生:</b>{{info.Doctor}}</p>
                                <p><b>申请人:</b>{{info.AddUser}}</p>
                                <p><b>申请时间:</b>{{info.AddTime}}</p>
                                <p><b>备注:</b>{{info.Remark}}</p>
                            </div>

                        </td>
                    </tr>

                </template>

            </tbody>
            <tfoot>
                <tr><td colspan="20"><v-page v-bind:page="datas"></v-page></td></tr>
            </tfoot>
        </table>

    </div>
</div>

<div id="modal-Referral">
    <v-modal v-cloak v-bind:tinfo="modalinfo" ref="Referralmodal">
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="@Url.Action("SaveReferralAdd","MedicalHistory")" id="saveReferralForm">
                    <input id="TBMedicalHistoryId" name="TBMedicalHistoryId" type="hidden" />
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-3">转诊医院</label>
                            <div class="col-xs-6">
                                <select2 id="HospitalId" class="w250 " data-placeholder="--请选择医院--" :value="masterHospitalId" :options="HospitalList">
                                </select2>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">申请转诊日期</label>
                            <div class="col-xs-6">
                                <date-picker-simple after-now="1" id="RequestDate" class="w250 "></date-picker-simple>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3 ">申请备注</label>
                            <div class="col-xs-6">
                                <textarea name="Remark" class="form-control w300" maxlength="500" rows="3" cols="20"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <button type="button" slot="bottom" class="btn blue btn-outline" id="btnSaveReferral">保  存</button>

    </v-modal>
</div>

@*<div id="modal-detail">
    <v-modal v-cloak v-bind:tinfo="modalinfo">
        <div class="row">
            <div class="col-md-12">
                <div class="form-inline detail-view consultation-detail">
                    <div class="col-md-12 pg-title">
                        <div>患者信息</div>
                    </div>
                    <div class="col-md-12 underline">
                        <div class="form-group">
                            <label>女方姓名:</label>
                            <label class="w300">{{info.FemaleName}}</label>
                        </div>

                        <div class="form-group">
                            <label>女方年龄:</label>
                            <label class="w250">{{info.FemaleAge}}</label>
                        </div>
                    </div>
                    <div class="col-md-12 underline">
                        <div class="form-group">
                            <label>男方姓名:</label>
                            <label class="w250">{{info.MaleName}}</label>
                        </div>

                        <div class="form-group">
                            <label>男方年龄:</label>
                            <label class="w250">{{info.MaleAge}}</label>
                        </div>
                    </div>
                    <div class="col-md-12 pg-title">
                        <div>申请信息</div>
                    </div>
                    <div class="col-md-12 underline">
                        <div class="form-group">
                            <label>申请人:</label>
                            <label class="w300">{{info.RequestUser}}</label>
                        </div>

                        <div class="form-group">
                            <label>会诊申请医院:</label>
                            <label class="w250">@Model.Hospital</label>
                        </div>
                    </div>
                    <div class="col-md-12 underline">
                        <div class="form-group">
                            <label>会诊审批人:</label>
                            <label class="w300">@Model.ApprovedUser</label>
                        </div>
                        <div class="form-group">
                            <label>会诊审批日期:</label>
                            <label class="w500">@Model.ApprovedTime</label>
                        </div>
                    </div>
                  
            
                </div>

            </div>
        </div>
        <button type="button" slot="bottom" class="btn blue btn-outline" id="btnSaveReferral">保  存</button>

    </v-modal>
</div>*@

@{ Html.RenderPartial("_Paginator");}
@section styles
{
    @System.Web.Optimization.Styles.Render("~/bundles/css/select2")
    @System.Web.Optimization.Styles.Render("~/bundles/css/datepicker")
    @System.Web.Optimization.Styles.Render("~/bundles/css/icheck")
}

@section pagejs
{
    @System.Web.Optimization.Scripts.Render("~/bundles/js/select2")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/datepicker")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/icheck")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/jqueryvalidate")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/jqueryform")
<script>
        $(function () {
            com.handleiCheck();
            var allData = @Html.RenderAsJson(Model);
            var status = "@ViewBag.Status";
            var vuetable;
            var addForm = null;
            var addModal = null;
            //  com.responsiveHeight("#tableshow", "#mycontent");
            Vue.component('v-page', {
                template: "#vuetmp-paginator",
                props: ["page"]
            });


            var vueReferral = new Vue({
                el: '#modal-Referral',
                data: {
                    modalinfo: {
                        id: "modalReferral",
                        title: "填写转诊信息",
                        data: {}

                    },
                    HospitalList: allData.HospitalList,
                    masterHospitalId: allData.MasterHospitalId

                },
                mounted: function () {
                    addForm = $("#saveReferralForm");
                    addModal = $("#modalReferral");
                    addForm.validateForm();
                    //  com.handleDateTimePicker();
                }

            });

            var search = function (pageIndex, sortIndex, sortType) {
                var para = {};
                para.PageIndex = pageIndex || 1;
                para.SortIndex = sortIndex || -1;
                para.SortType = sortType || 0;
                para.SearchKey = $("#search-key").val();
                para.IsAll = document.getElementById("checkall").checked;
                para.IsRequest = document.getElementById("checkrequest").checked;
                para.IsCancel = document.getElementById("checkcancel").checked;
                para.IsConfirm = document.getElementById("checkconfirm").checked;
                para.Stime = document.getElementById("txt_stime").value;
                para.Etime = document.getElementById("txt_etime").value;

               // com.showLog(para);

                com.ajaxquery("/Tranfer/PageQuery", para).then(function (mydata) {
                    mydata.query = function (pageIndex, sortIndex, sortType) {
                        search(pageIndex, sortIndex, sortType);
                    }
                      com.showLog(mydata);
                    if (vuetable == null) {
                        vuetable = new Vue({
                            el: '#query-table',
                            data: {
                                datas: mydata
                            },
                            mounted: function () {
                                $('.tooltips').tooltip();
                                //  App.initSlimScroll('#tableshow');
                            },
                            methods: {
                                showDetail: function (event) {
                                    //  alert(event);
                                    if (event) {
                                        var $currBtn = $(event.target);
                                        $("#query-table tbody .tb-detail-view").removeClass("open");
                                        var isDetailClosed = $currBtn.hasClass("fa-plus");
                                        //  alert(isDetailClosed);
                                        if (isDetailClosed) {
                                            $("#query-table tbody .fa-minus").removeClass("fa-minus").addClass("fa-plus");
                                            $currBtn.removeClass("fa-plus").addClass("fa-minus").closest("tr").next().addClass("open");

                                        }
                                        else {
                                            $currBtn.removeClass("fa-minus").addClass("fa-plus");

                                        }

                                    }
                                },
                                showRequest: function (mhid) {
                                    $("#TBMedicalHistoryId", addForm).val(mhid);
                                    addModal.modal('show');
                                },
                                showConfirmPanel: function (id, setStaus) {
                                    //转诊状态：
                                    //1 - 未申请
                                    //2 - 申请中
                                    //3 - 已取消
                                    //4 - 已确认
                                    var message = "";
                                    switch (setStaus) {
                                        case 3:
                                            message = "是否要取消申请转诊？";
                                            break;
                                        case 4:
                                            message = "是否要确认转诊？";
                                            break;
                                        default:
                                    }
                                    com.confirm(message, function () {
                                        com.ajaxquery("/Tranfer/UpdateReferralStatus", { Id: id, Status: setStaus }).then(function (res) {
                                            if (res.Result) {
                                                ShowSuccessThenReload(res.SuccessMessage);
                                            }
                                            else {
                                                ShowErrorMessage(res.ErrorMessage);
                                            }
                                        });

                                    });
                                }

                            }
                        })
                    }
                    else {
                        vuetable.datas = mydata;
                    }
                });
            };

            $("#btn-query").on("click", function () {
                //   com.showLog(vuequery.info);
                search();
            });


            $("#btnSaveReferral").on("click", function () {
                com.jqFormOption.success = function (res) {
                    if (res.Result) {
                        ShowSuccessThenReload(res.SuccessMessage);
                    }
                    else {
                        ShowErrorMessage(res.ErrorMessage);
                    }
                }
                addForm.ajaxSubmit(com.jqFormOption);

            });


            $(".icheck-inline .icheckBlue").on('ifChecked', function (event) {
                var id = $(this).attr("id");
                if (id == "checkall") {
                    $("#checkrequest").iCheck("uncheck");
                    $("#checkcancel").iCheck("uncheck");
                    $("#checkconfirm").iCheck("uncheck");
                }
                else {
                    $("#checkall").iCheck("uncheck");
                }
                //search();
            }).on('ifUnchecked', function (event) {
                // search();
            });

            /*******************************初始执行方法***********************************/
            switch (status) {
                case "2":
                    $("#checkrequest").iCheck("check");
                    break;
                case "3":
                    $("#checkcancel").iCheck("check");
                    break;
                case "4":
                    $("#checkconfirm").iCheck("check");
                    break;
                default:
            }

            search();

        });
</script>
}

