@model BYBYApp.Models.MedicalHistoryAddModel
@{
    ViewBag.Title = "新增病历";
}

@*<div class="page-content-title">
        <span class="title">新增病历</span>
    </div>*@


<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            新增病历
        </div>
    </div>
    <div class="portlet-body form">
        @*<div class="editmode form-horizontal form">
                <h4 class="form-section">患者卡号信息</h4>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="col-sm-lable control-label">病历号</label>
                        <div class="col-sm-ipt">
                            <input type="text" class="form-control" name="currentpatientid">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="form-section">女方信息</h4>
                        <div class="col-sm-6">
                            <label class="col-sm-lable control-label">病历号</label>
                            <div class="col-sm-ipt">
                                <input type="text" class="form-control" name="currentpatientid">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-lable control-label">病历号</label>
                            <div class="col-sm-ipt">
                                <input type="text" class="form-control" name="currentpatientid">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="form-section">男方信息</h4>
                    </div>
                </div>
            </div>*@


        <div class="form-inline">
            <div class="row editmode" id="editform">
                <div class="col-md-12">
                    <h3 class="form-section">患者卡号信息</h3>
                    <div class="form-group">
                        <label for="search-key">病历号：</label>
                        <input type="text" class="form-control w300" id="MedicalHistoryNo" name="MedicalHistoryNo" v-model="info.AddModel.MedicalHistoryNo">
                    </div>
                </div>

                <div class="col-md-6">
                    <h3 class="form-section">女方信息</h3>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="search-key">姓名：<span class="requiredspan">*</span></label>
                            <input type="text" class="form-control required" id="FemaleName" name="FemaleName">
                        </div>
                        <div class="form-group margin-left-20">
                            <label for="search-key">证件类型：<span class="requiredspan">*</span></label>
                            <select2 :options="info.CardTypeList" v-bind:sattr="femaleselect" v-model="info.AddModel.FemaleCardType">
                            </select2>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="search-key">证件号：</label>
                            <input type="text" class="form-control" id="search-key">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="form-section">男方信息</h3>
                    <div class="form-group margin-left-20">
                        <label for="search-key">姓名：</label>
                        <input type="text" class="form-control" id="search-key">
                    </div>
                    <div class="form-group margin-left-20">
                        <label for="search-key">证件类型：</label>
                        <select2 :options="info.CardTypeList" v-bind:sattr="maleselect" v-model="info.AddModel.MaleCardType">
                        </select2>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-4">
                    <button type="submit" class="btn green" id="btnSave">提交</button>
                    <button type="button" class="btn default" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>


    </div>
</div>
@*<script type="text/x-template" id="select2-template">
        <select>
            <slot></slot>
        </select>
    </script>
    <div id="el">
        <select2 :options="options" v-model="selected">
            <option disabled value="0">Select one</option>
        </select2>
    </div>*@
@section styles
{
    @System.Web.Optimization.Styles.Render("~/bundles/css/select2")
    @System.Web.Optimization.Styles.Render("~/bundles/css/datetimepicker")


}

@section pagejs
{
    @System.Web.Optimization.Scripts.Render("~/bundles/js/select2")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/datetimepicker")
    <script>
        $(function () {
            //   $(".required").prev().
            var allData = @Html.RenderAsJson(Model);

            //var vm = new Vue({
            //    el: '#el',
            //    data: {
            //        selected: 2,
            //        options: [
            //            { id: 1, text: 'Hello' },
            //            { id: 2, text: 'World' }
            //        ]
            //    }
            //})

            $("#btnCancel").on("click", function() {
                alert(vueadd.info.AddModel.FemaleCardType + "  " + vueadd.info.AddModel.MaleCardType);
            })


           var vueadd = new Vue({
               el: '#editform',
               data: {
                   info: allData,
                   femaleselect: {
                       class: "required w200",
                       placeholder: "--请选择国籍--"
                   },
                   maleselect: {
                       class: "required w200",
                       placeholder: "--请选择男性国籍--"
                   },
                //   selected: allData.AddModel.CardType
                },
                mounted: function () {
                    //if ($().select2) {
                    //    $.fn.select2.defaults.set("theme", "bootstrap");
                    //    $('.select2me').select2({
                    //        placeholder: "Select",
                    //        width: "resolve",
                    //        allowClear: true,
                    //        language: "zh-CN"
                    //    });
                    //}
                  //  App.initSlimScroll('#tableshow');
                },
                methods: {

                }
            })
        })
    </script>
}

