@model BYBYApp.Models.MedicalHistoryAddModel
@{
    ViewBag.Title = "新增病历";
}

@*<div class="page-content-title">
        <span class="title">新增病历</span>
    </div>*@


<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            新增病历
        </div>
    </div>
    <div class="portlet-body form">
        <form method="post" action="@Url.Action("SaveAdd","MedicalHistory")" id="saveForm">
            @Html.AntiForgeryToken()
            <div class="form-inline">
                <div class="row editmode" id="editform">
                    <div class="col-md-12">
                        <div class="title">患者卡号信息</div>
                    </div>
                    <div class="col-md-12">
                        <edit-input id="MedicalHistoryNo" text="病历号" myclass="w300" v-model="info.AddModel.MedicalHistoryNo">
                        </edit-input>
                    </div>
                    <div class="col-md-12">
                        <div class="title">联系方式及备注</div>
                    </div>
                    <div class="col-md-12">
                        <edit-input id="FemalePhone" text="女方电话" v-model="info.AddModel.FemalePhone">
                        </edit-input>
                        <edit-input id="MalePhone" text="男方电话" v-model="info.AddModel.MalePhone">
                        </edit-input>
                        <edit-input id="FixPhone" text="固定电话" v-model="info.AddModel.FixPhone">
                        </edit-input>
                    </div>
                    <div class="col-md-12">
                        <edit-input id="Address" text="通讯地址" myclass="w450" v-model="info.AddModel.Address">
                        </edit-input>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Address">备注</label>
                            <textarea id="Remark" name="Remark" class="form-control w450" rows="3" cols="20" v-model="info.AddModel.Remark"></textarea>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="title">女方信息</div>
                    </div>
                    <div class="col-md-12">
                        <edit-input id="FemaleName" text="姓名" myclass="required" v-model="info.AddModel.FemaleName">
                            <span slot="othertext" class="requiredspan">*</span>
                        </edit-input>
                        <edit-input id="FemaleBirthday" text="出生年月" myclass="required" v-model="info.AddModel.FemaleBirthday">
                            <span slot="othertext" class="requiredspan">*</span>
                        </edit-input>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="FemaleCardType">证件类型<span class="requiredspan">*</span></label>
                            <select2 id="FemaleCardType" errormessage="证件类型不能为空" name="FemaleCardType" :options="info.CardTypeList" v-bind:sattr="femaleselect" v-model="info.AddModel.FemaleCardType">
                            
                            </select2>
                        </div>
                        <edit-input id="FemaleCardNo" text="证件号" myclass="required" v-model="info.AddModel.FemaleCardNo">
                            <span slot="othertext" class="requiredspan">*</span>
                        </edit-input>
                        <div class="form-group">
                            <label for="FemaleCardType">婚姻状况</label>
                            <select2 id="FemaleMarriage" name="FemaleMarriage" :options="info.MarriageList" v-bind:sattr="marriageselect" v-model="info.AddModel.FemaleMarriage">
                            </select2>
                        </div>
                    </div>
                    @*<div class="col-md-12">
                            <div class="form-group has-error">
                                <label for="FemaleCardType">证件类型<span class="requiredspan">*</span></label>
                                <select data-placeholder="--请选择国籍--" class="form-control select2me required w200 select2-hidden-accessible" id="FemaleCardType" name="FemaleCardType" tabindex="-1" aria-hidden="true" aria-required="true" aria-describedby="FemaleCardType-error" aria-invalid="true">
                                    <option value="0" title="SFZ">身份证</option>
                                    <option value="1" title="JuZhuZheng">居住证</option>
                                    <option value="2" title="QianZheng">签证</option>
                                    <option value="3" title="HuZhao">护照</option>
                                    <option value="4" title="HuKouBen">户口本</option>
                                    <option value="5" title="JunRenZheng">军人证</option>
                                </select>

                                <span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 200px;">
                                    <span class="selection">
                                        <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-FemaleCardType-container">
                                            <span class="select2-selection__rendered" id="select2-FemaleCardType-container" title="SFZ">
                                                <span class="select2-selection__placeholder">--请选择国籍--</span>
                                            </span>
                                            <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                                        </span>
                                    </span><span class="dropdown-wrapper" aria-hidden="true"></span>
                                </span>
                                <div id="FemaleCardType-error" class="layui-layer layui-layer-tips" style=" top: 19px; left: 208px;">
                                    <div class="layui-layer-content" style="background-color: rgb(242, 65, 0);">带'*'的为必填项，不能为空值<i class="layui-layer-TipsG layui-layer-TipsR" style="border-bottom-color: rgb(242, 65, 0);"></i></div>
                                </div>
                            </div>
                        </div>*@

                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-4">
                        <button type="button" class="btn green" id="btnSave">提交</button>
                        <button type="button" class="btn default" id="btnCancel">Cancel</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

@section styles
{
    @System.Web.Optimization.Styles.Render("~/bundles/css/select2")
    @System.Web.Optimization.Styles.Render("~/bundles/css/datetimepicker")


}

@section pagejs
{
    @System.Web.Optimization.Scripts.Render("~/bundles/js/select2")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/datetimepicker")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/jqueryvalidate")
    <script>
        $(function () {
            //   $(".required").prev().
        
            var allData = @Html.RenderAsJson(Model);

            //var vm = new Vue({
            //    el: '#el',
            //    data: {
            //        selected: 2,
            //        options: [
            //            { id: 1, text: 'Hello' },
            //            { id: 2, text: 'World' }
            //        ]
            //    }
            //})

            $("#btnSave").on("click", function () {
                alert($("#saveForm").valid())
                //com.jqFormOption.success = function (result) {
                //    com.showLog(result);
                //}
                //// com.jqFormOption.url = km.model.urls["add"];
                //$("#saveForm").ajaxSubmit(com.jqFormOption);
            })

            $("#btnCancel").on("click", function() {
                alert(vueadd.info.AddModel.FemaleCardType + "  " + vueadd.info.AddModel.MaleCardType + " " + vueadd.info.AddModel.MedicalHistoryNo);
            })


           var vueadd = new Vue({
               el: '#editform',
               data: {
                   info: allData,
                   femaleselect: {
                       class: "required w200",
                       placeholder: "--请选择国籍--"
                   },
                   maleselect: {
                       class: "w200",
                       placeholder: "--请选择国籍--"
                   },
                   marriageselect: {
                       class: "w200",
                       placeholder: "--请选择婚姻状况--"
                   },
                //   selected: allData.AddModel.CardType
                },
                mounted: function () {
                    //if ($().select2) {
                    //    $.fn.select2.defaults.set("theme", "bootstrap");
                    //    $('.select2me').select2({
                    //        placeholder: "Select",
                    //        width: "resolve",
                    //        allowClear: true,
                    //        language: "zh-CN"
                    //    });
                    //}
                  //  App.initSlimScroll('#tableshow');
                },
                methods: {

                }
            })

           $("#saveForm").validateForm();
        })
    </script>
}

