@model BYBY.Services.Models.MedicalHistoryDetailModel
@{
    ViewBag.Title = "病历详情";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            病历详情
        </div>
        <div class="actions">
            <a class="btn fa fa-reply btn-default " href="javascript:;" onclick="history.go(-1)" data-original-title="返回" title="返回"> </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>

    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12 title-patient">
                <div class="col-md-3">
                    <span class="female">@Model.EditModel.FemaleName</span>
                    <span class="age">@Model.EditModel.FemaleAge</span>
                </div>
                <div class="col-md-3">
                    <span class="male">@Model.EditModel.MaleName</span>
                    <span class="age">@Model.EditModel.MaleAge</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="tabbable-custom">
                    <ul class="nav nav-tabs">
                        <li class="@(ViewBag.TabId==1||ViewBag.TabId==null?"active":"")">
                            <a href="#tab_1_1" data-toggle="tab">基本信息</a>
                        </li>
                        <li class="@(ViewBag.TabId==2?"active":"")">
                            <a href="#tab_1_2" data-toggle="tab">女方病历</a>
                        </li>
                        <li class="@(ViewBag.TabId==3?"active":"")">
                            <a href="#tab_1_3" data-toggle="tab">男方病历</a>
                        </li>
                        <li class="@(ViewBag.TabId==4?"active":"")">
                            <a href="#tab_1_4" data-toggle="tab">病历附件</a>
                        </li>
                        <li style="float:right">
                            <button class="btn blue btn-outline" id="btnEdit">
                                <i class="fa fa-edit" style="padding-right:4px"></i><span>修改</span>
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane @(ViewBag.TabId==1||ViewBag.TabId==null?" active":"")" id="tab_1_1">
                            @Html.Partial("_MedicalDetailBase")
                        </div>

                        <div class="tab-pane @(ViewBag.TabId==2?"active":"")" id="tab_1_2">
                            @Html.Partial("_FemaleHistory")
                        </div>

                        <div class="tab-pane @(ViewBag.TabId==3?"active":"")" id="tab_1_3">
                            @Html.Partial("_MaleHistory")
                        </div>
                        <div class="tab-pane @(ViewBag.TabId==4?"active":"")" id="tab_1_4">
                            @Html.Partial("_MedicalHistoryImage")
                        </div>
                    </div>
                </div>

            </div>

        </div>



    </div>
</div>
@section styles
{
    @System.Web.Optimization.Styles.Render("~/bundles/css/select2")
    @System.Web.Optimization.Styles.Render("~/bundles/css/datepicker")
    @System.Web.Optimization.Styles.Render("~/bundles/css/bootstrapselect")
    @System.Web.Optimization.Styles.Render("~/bundles/css/viewerjs")
    @System.Web.Optimization.Styles.Render("~/bundles/css/jqfileupload")
}

@section pagejs
{
    @System.Web.Optimization.Scripts.Render("~/bundles/js/select2")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/datepicker")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/jqueryvalidate")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/jqueryform")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/bootstrapselect")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/viewerjs")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/inputmask")
    <script>
        $(function () {

            var allData = @Html.RenderAsJson(Model);
            com.showLog(allData);
            var vueadd = new Vue({
                el: '#base-info',
                data: {
                    info: allData
                }
            })

            /*********************基本信息*********************/
            $("#btnCancelBaseInfo").on("click", function () {
                $("#view-patient").show();
                $("#edit-patient").hide();
            });

            $("#btnEdit").on("click", function () {
                var tabId = $(".tab-pane.active").attr("id");
                switch (tabId) {
                    case "tab_1_1":
                        if ($("#view-patient").is(":visible")) {
                            $("#view-patient").hide();
                            $("#edit-patient").show();
                        }
                        //else {
                        //    $("#view-patient").show();
                        //    $("#edit-patient").hide();
                        //    $("span", this).text("修改");
                        //}
                        break;
                    case "tab_1_2":
                        var femaleDetailView = $("#medical-detail-female .panel-collapse.in .detail-view");
                        var femaleEditView = $("#medical-detail-female .panel-collapse.in .edit-view");
                        if (femaleDetailView.length > 0) {
                            if (femaleDetailView.is(":visible")) {
                                femaleDetailView.hide();
                                femaleEditView.show();
                            }
                            //else {
                            //    femaleDetailView.show();
                            //    femaleEditView.hide();
                            //    $("span", this).text("修改");
                            //}
                        }
                        break;
                    case "tab_1_3":
                        var maleDetailView = $("#medical-detail-male .panel-collapse.in .detail-view");
                        var maleEditView = $("#medical-detail-male .panel-collapse.in .edit-view");
                        if (maleDetailView.length > 0) {
                            if (maleDetailView.is(":visible")) {
                                maleDetailView.hide();
                                maleEditView.show();
                              //  $("span", this).text("取消修改");
                            }
                            //else {
                            //    maleDetailView.show();
                            //    maleEditView.hide();
                            //    $("span", this).text("修改");
                            //}
                        }
                        break;
                    default:
                }

            })

            $("#btnSaveBaseInfo").on("click", function () {
                //   alert($("#MHId").val());
                //   if ($("#saveBaseInfoForm").valid()) {
                com.jqFormOption.success = function (res) {
                    if (res.Result) {
                        // ShowSuccessThenReload(res.SuccessMessage)
                        var newurl = com.replaceUrlParam(location.href, "tab", 1);
                        ShowSuccessThenGotoUrl(res.SuccessMessage, newurl);
                    }
                    else {
                        ShowErrorMessage(res.ErrorMessage)
                    }
                }
                $("#saveBaseInfoForm").ajaxSubmit(com.jqFormOption);
                //  }
            });
              /*********************女方病历*********************/
            var vueFemaleDetail = new Vue({
                el: '#medical-detail-female',
                data: {
                    femalemdlist: allData.FemaleMedicalDetails
                },
                mounted: function () {
                    com.autoScrollContent();
                    $(".MarriageChildren").formatInput({ dateStr: "现有子女_-领养子女_" });
                    $(".MarriageFertility").formatInput({ dateStr: "足月产_-早产_-引产_-自然流产_-人工流产_-药流_" });
                    $("form").validateForm();
                }
            })


            var vueNewFemaleMD = new Vue({
                el: '#modal-female-detail',
                data: {
                    modalinfo: {
                        id: "modal-female",
                        title: "新建女方病历",
                        class: "",
                        modalclass: "modal-myfull"

                    },
                    md: {
                        PatientId: allData.EditModel.FemaleId
                    }
                },
                mounted: function () {
                }
            })




            /*********************男方病历*********************/
            var vueMaleDetail = new Vue({
                el: '#medical-detail-male',
                data: {
                    malemdlist: allData.MaleMedicalDetails
                },
                mounted: function () {

                }
            })

            var vueNewMaleMD = new Vue({
                el: '#modal-male-detail',
                data: {
                    modalinfo: {
                        id: "modal-male",
                        title: "新建男方病历",
                        class: "",
                        modalclass: "modal-myfull"

                    },
                    md: {
                        PatientId: allData.EditModel.MaleId
                    }
                },
                mounted: function () {
                }
            })


            //编辑病历详细信息
            $(".btn-save-md").on("click", function () {
                var form = null;
                var tab = $(this).data("tab");
                if ($(this).hasClass("add"))
                {
                    form = $(this).closest(".modal-content").find("form");
                }
                else {
                    form = $(this).closest("form");
                }

                $('[data-dfval]',form).each(function(a,b,c) {
                    if (!this.value) {
                        this.value = $(this).data("dfval");
                    }
                })
                com.jqFormOption.success = function (res) {
                    if (res.Result) {
                       // ShowSuccessThenReload(res.SuccessMessage)
                        var newurl = com.replaceUrlParam(location.href, "tab", tab);
                        ShowSuccessThenGotoUrl(res.SuccessMessage, newurl);
                    }
                    else {
                        ShowErrorMessage(res.ErrorMessage)
                    }
                }

                form.ajaxSubmit(com.jqFormOption);
            })






            $(".btn-cancel-md").on("click", function () {
                $(this).closest(".form-inline.edit-view").hide();
                $(this).closest(".panel-collapse").find(".detail-view").show();
            })



            //病历附件
            var vueDetailImage = new Vue({
                el: '#mdimages',
                data: {
                    info: allData.Images
                },
                mounted: function () {
                    $(".ul-img-list > li").hover(function () {
                        //   $(".caption").text("hover");
                        $(".delete", this).show();
                    }, function () {
                        $(".delete", this).hide();
                    })

                    $(".ul-img-list .delete").on("click", function () {
                        var $img = $(this);
                        var id = $img.data("id");
                        com.confirm("是否要删除此条病历病历附件？", function () {
                            com.ajaxquery("/MedicalHistory/DeleteImage", { Id: id }).then(function (res) {
                                if (res.Result) {
                                    $img.closest("li").remove();
                                    ShowSuccessMessage(res.SuccessMessage);
                                }
                                else {
                                    ShowErrorMessage(res.ErrorMessage);
                                }
                            });

                        });

                    })

                    var viewer = new Viewer(document.getElementById('mdimages'), {
                        url: 'data-original',
                        zIndex: 99999,
                        toolbar: {
                            zoomIn: 4,
                            zoomOut: 4,
                            oneToOne: 4,
                            reset: 4,
                            prev: 4,
                            play: {
                                show: 4,
                                size: 'large',
                            },
                            next: 4,
                            rotateLeft: 4,
                            rotateRight: 4,
                            flipHorizontal: 4,
                            flipVertical: 4,
                        }
                    });

                        com.initImageUpload("#uploadfile", "/MedicalHistory/UploadFile?patientId=" + allData.EditModel.MHId, function(res) {
                 if (res.Result) {
                     var newurl = com.replaceUrlParam(location.href, "tab", 4);
                     ShowSuccessThenGotoUrl(res.SuccessMessage,newurl);
                 }
                 else {
                     ShowErrorMessage(res.ErrorMessage)
                 }
                });

                    //$('#uploadfile').myUploadImage({
                    //    url: "/MedicalHistory/UploadFile?patientId=" + allData.EditModel.MHId,
                    //    successFun: function (res) {
                    //        if (res.Result) {
                    //            var newurl = com.replaceUrlParam(location.href, "tab", 4);
                    //            ShowSuccessThenGotoUrl(res.SuccessMessage, newurl);
                    //        }
                    //        else {
                    //            ShowErrorMessage(res.ErrorMessage)
                    //        }
                    //    }
                    //});

                }
            })


            //$("#mdimages").viewer();
          //  var options = {};




        })


        //$("#btnCreateNewFemale").on("click", function () {
        //    layer.open({
        //        type: 1,
        //        shade: false,
        //        title: "新建女方病历", //不显示标题
        //        content: $('#FemaleMDAddForm'),
        //        area: ['90%', '900px'], //宽高
        //        skin: 'layui-layer-rim', //加上边框
        //    });
        //});





    </script>
    <script src="~/Scripts/page/MedicalHistoryDetail.js"></script>
}

