@model BYBYApp.Models.MedicalHistoryListModel
@{
    ViewBag.Title = "病历管理";
}

@*<div class="page-content-title">
        <span class="title">病历管理</span>
    </div>*@

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            病历管理
        </div>
    </div>

    <div class="portlet-title">
        <div class="querycontent">
            <div class="form-inline" id="query-content">
                <select2 id="Hostpital" class="w196" data-placeholder="--请选择医院--" :options="info.HospitalList">
                </select2>
                <div class="form-group margin-left-20">
                    <label for="search-key">患者信息：</label>
                    <input type="text" class="form-control" id="search-key" placeholder="请输入" v-model="info.skey">
                </div>
                <div class="form-group margin-left-20">
                    <label>申请日期：</label>
                    <div class="input-group date-picker input-daterange">
                        <input type="text" id="txt_stime" class="form-control s-time" name="txt_stime" v-model="info.STime" readonly>
                        <span class="input-group-addon"> 到 </span>
                        <input type="text" id="txt_etime" class="form-control e-time" name="txt_etime" v-model="info.ETime" readonly>
                    </div>
                </div>
                <button type="button" class="btn blue btn-outline margin-left-20" id="btn-query">
                    <i class="fa fa-search"></i> 查询
                </button>
            </div>
        </div>
        <div class="actions">
            <a href="@Url.Action("AddNew","MedicalHistory")" class="btn blue btn-outline">
                <i class="fa fa-plus"></i> 新增患者
            </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body" id="tableshow">
        <table class="table  table-bordered" id="query-table" v-cloak>
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th colspan="2">女方</th>
                    <th colspan="2">男方</th>
                    <th colspan="2">联系方式</th>
                    <th colspan="2">状态信息</th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <th>女方姓名</th>
                    <th>女方年龄</th>
                    <th>男方姓名</th>
                    <th>男方年龄</th>
                    <th>女方手机号</th>
                    <th>男方手机号</th>
                    <th>会诊状态</th>
                    <th>转诊状态</th>
                    <th>录入时间</th>
                    <th style="width:200px">操作</th>
                </tr>
            </thead>
            <tbody>
                @*<tr><td style="text-align:center"><i class="fa fa-plus fa-2x" style="margin-top:10px;cursor:pointer"></i></td><td>aaaaa</td><td>aaaaa</td></tr>*@
                <template v-for="(info,index) in datas.Data">
                    <tr>
                        <td><a href="javascript:;" v-on:click="showDetail"><i class="fa fa-plus fa-2x" style="margin-top:5px;"></i></a></td>
                        <td>{{info.FeMaleName}}</td>
                        <td>{{info.FeMaleAge}}</td>
                        <td>{{info.MaleName}}</td>
                        <td>{{info.MaleAge}}</td>
                        <td>{{info.FeMalePhone}}</td>
                        <td>{{info.MalePhone}}</td>
                        <td><span class="font-blue">{{info.ConsultationStatus}}</span></td>
                        <td><span class="font-blue">{{info.ReferralStatus}}</span></td>
                        <td>{{info.Addtime}}</td>
                        <td>
                            <div style="padding-top:5px">
                                <a :href="'/MedicalHistory/Detail/' + info.Id" class="margin-right-10"><i class="fa fa-2x fa-file-text-o tooltips" data-container="body" data-placement="top" data-original-title="病历详细" ></i></a>
                                <a href="javascript:;" class="margin-right-10"><i class="fa fa-2x fa-stethoscope tooltips" data-container="body" data-placement="top" data-original-title="会诊"></i></a>
                                <a href="javascript:;" class="margin-right-10"><i class="fa fa-2x fa-ambulance tooltips" data-container="body" data-placement="top" data-original-title="转诊"></i></a>
                                <a href="javascript:;"><i class="fa fa-2x fa-remove tooltips" data-container="body" data-placement="top" data-original-title="删除"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="detail-view">
                        <td colspan="11">
                            <div class="col-md-6">
                                <p><b>女方姓名:</b>{{info.FeMaleName}}</p>
                                <p><b>女方年龄:</b>{{info.FeMaleAge}}</p>
                                <p><b>女方出生日期:</b>{{info.FeMaleBirthday}}</p>
                                <p><b>女方婚姻状态:</b>{{info.FeMaleMarrad}}</p>
                                <p><b>女方电话:</b>{{info.FeMalePhone}}</p>
                                <p><b>固定电话:</b>{{info.FeMaleFixPhone}}</p>
                                <p><b>会诊状态:</b>{{info.ConsultationStatus}}</p>
                                <p><b>转诊状态:</b>{{info.ReferralStatus}}</p>
                                <p><b>录入时间:</b>{{info.Addtime}}</p>
                                <p><b>录入人:</b>{{info.AddUserName}}</p>
                            </div>
                            <div class="col-md-6">
                                <p><b>男方姓名:</b>{{info.MaleName}}</p>
                                <p><b>男方年龄:</b>{{info.MaleAge}}</p>
                                <p><b>男方出生日期:</b>{{info.MaleBirthday}}</p>
                                <p><b>男方婚姻状态:</b>{{info.MaleMarrad}}</p>
                                <p><b>男方电话:</b>{{info.MalePhone}}</p>
                                <p><b>固定电话:</b>{{info.MaleFixPhone}}</p>
                                <p><b>会诊状态:</b>{{info.ConsultationStatus}}</p>
                                <p><b>转诊状态:</b>{{info.ReferralStatus}}</p>
                                <p><b>录入时间:</b>{{info.Addtime}}</p>
                                <p><b>录入人:</b>{{info.AddUserName}}</p>
                            </div>
                        </td>
                    </tr>

                </template>

            </tbody>
            <tfoot>
                <tr><td colspan="20"><v-page v-bind:page="datas"></v-page></td></tr>
            </tfoot>
        </table>

    </div>
</div>
@{  Html.RenderPartial("_Paginator");}
@section styles
{
    @System.Web.Optimization.Styles.Render("~/bundles/css/select2")
    @System.Web.Optimization.Styles.Render("~/bundles/css/datetimepicker")

}

@section pagejs
{
    @System.Web.Optimization.Scripts.Render("~/bundles/js/select2")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/datetimepicker")

    <script>
        $(function () {


            var vuetable;
          //  com.responsiveHeight("#tableshow", "#mycontent");
            Vue.component('v-page', {
                template: "#vuetmp-paginator",
                props: ["page"]
            })

            var allData = @Html.RenderAsJson(Model);
            allData.STime = "";
            allData.ETime = "";
            allData.skey = "";
            var vuequery = new Vue({
                el: '#query-content',
                data: {
                    info: allData
                },
                mounted: function () {
                    var vm = this;
                    com.handleDateRangePicker();
                    $(".input-daterange input.s-time").on('change', function (ob) {
                        vm.info.STime = ob.target.value;
                    });
                    $(".input-daterange input.e-time").on('change', function (ob) {
                        vm.info.ETime = ob.target.value;
                    });
                }
            })






            //    $(window).on("resize", App.initSlimScroll('#tableshow'));

            var search = function (pageIndex, sortIndex, sortType) {
                var para = {};
                para.PageIndex = pageIndex || 1;
                para.SortIndex = sortIndex || -1;
                para.SortType = sortType || 0;
                para.SearchKey = $("#search-key").val();
                com.ajaxquery("/MedicalHistory/PageQuery", para).then(function (mydata) {
                    mydata.query = function (pageIndex, sortIndex, sortType) {
                        search(pageIndex, sortIndex, sortType);
                    }
                    //  com.showLog(mydata);
                    if (vuetable == null) {
                        vuetable = new Vue({
                            el: '#query-table',
                            data: {
                                datas: mydata
                            },
                            mounted: function () {
                                $('.tooltips').tooltip();
                              //  App.initSlimScroll('#tableshow');
                            },
                            methods: {
                                showDetail: function (event) {
                                    //  alert(event);
                                    if (event) {
                                        var $currBtn = $(event.target);
                                        $("#query-table tbody .detail-view").removeClass("open");
                                        var isDetailClosed = $currBtn.hasClass("fa-plus");
                                        //  alert(isDetailClosed);
                                        if (isDetailClosed) {
                                            $("#query-table tbody .fa-minus").removeClass("fa-minus").addClass("fa-plus");
                                            $currBtn.removeClass("fa-plus").addClass("fa-minus").closest("tr").next().addClass("open");

                                        }
                                        else {
                                            $currBtn.removeClass("fa-minus").addClass("fa-plus");

                                        }

                                    }
                                }
                            }
                        })
                    }
                    else {
                        vuetable.datas = mydata;
                    }
                })
            }
            search();
            $("#btn-query").on("click", function () {
                com.showLog(vuequery.info);
              //  search();
            })


        })
    </script>
}

