@model BYBYApp.Models.MedicalHistoryListModel
@{
    ViewBag.Title = "病历管理";
    var rolename = Request.Cookies["AccountCookies"] == null ? "" : Request.Cookies["AccountCookies"].Values["rolename"];


}

@*<div class="page-content-title">
        <span class="title">病历管理</span>
    </div>*@

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            病历管理
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>

    <div class="portlet-title">
        <div class="querycontent">
            <div class="form-inline" id="query-content">
                @if (rolename == "customerservice")
                {
                    <select2 id="Hostpital" class="w196" data-placeholder="--请选择医院--" :options="info.HospitalList">
                    </select2>
                }
                <div class="form-group margin-left-20">
                    <label for="search-key">患者信息：</label>
                    <input type="text" class="form-control" id="search-key" placeholder="请输入" v-model="info.skey">
                </div>
                <div class="form-group margin-left-20">
                    <label>申请日期：</label>
                    <div class="input-group date-picker input-daterange">
                        <input type="text" id="txt_stime" class="form-control s-time" name="txt_stime" v-model="info.STime" readonly>
                        <span class="input-group-addon"> 到 </span>
                        <input type="text" id="txt_etime" class="form-control e-time" name="txt_etime" v-model="info.ETime" readonly>
                    </div>
                </div>
                <div class="form-group margin-left-20">
                    <button type="button" class="btn blue btn-outline margin-left-20" id="btn-query">
                        <i class="fa fa-search"></i> 查询
                    </button>
                </div>
            </div>
        </div>
        <div class="myactions">
            <a href='@Url.Action("AddNew", "MedicalHistory" )' class="btn blue btn-outline">
                <i class="fa fa-plus"></i> 新增患者
            </a>
        </div>

    </div>
    <div class="portlet-body" id="tableshow">
        <table class="table  table-bordered" id="query-table" v-cloak>
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th colspan="2">女方</th>
                    <th colspan="2">男方</th>
                    <th colspan="2">联系方式</th>
                    <th colspan="2">状态信息</th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <th>女方姓名</th>
                    <th>女方年龄</th>
                    <th>男方姓名</th>
                    <th>男方年龄</th>
                    <th>女方手机号</th>
                    <th>男方手机号</th>
                    <th>会诊状态</th>
                    <th>转诊状态</th>
                    <th>录入时间</th>
                    <th style="width:200px">操作</th>
                </tr>
            </thead>
            <tbody>
                @*
                    <tr><td style="text-align:center"><i class="fa fa-plus fa-2x" style="margin-top:10px;cursor:pointer"></i></td><td>aaaaa</td><td>aaaaa</td></tr>*@
                <template v-for="(info,index) in datas.Data">
                    <tr>
                        <td><a href="javascript:;" v-on:click="showDetail"><i class="fa fa-plus fa-2x" style="margin-top:5px;"></i></a></td>
                        <td>{{info.FeMaleName}}</td>
                        <td>{{info.FeMaleAge}}</td>
                        <td>{{info.MaleName}}</td>
                        <td>{{info.MaleAge}}</td>
                        <td>{{info.FeMalePhone}}</td>
                        <td>{{info.MalePhone}}</td>
                        <td><span class="font-blue">{{info.ConsultationStatus}}</span></td>
                        <td><span class="font-blue">{{info.ReferralStatus}}</span></td>
                        <td>{{info.Addtime}}</td>
                        <td>
                            <a :href="'/MedicalHistory/Detail/' + info.Id" class="margin-right-10"><i class="fa fa-2x fa-file-text-o tooltips" data-container="body" data-placement="top" data-original-title="病历详细"></i></a>
                            <a href="javascript:;" class="margin-right-10" v-on:click="showConsultation(info.ConsultationStatus,info.Id)"><i class="fa fa-2x fa-stethoscope tooltips" data-container="body" data-placement="top" data-original-title="会诊"></i></a>
                            <a href="javascript:;" class="margin-right-10" v-on:click="showReferral(info.ReferralStatus,info.Id,info.NewestReferralId)"><i class="fa fa-2x fa-ambulance tooltips" data-container="body" data-placement="top" data-original-title="转诊"></i></a>
                            <a href="javascript:;" v-on:click="deletemh(info.ConsultationStatus,info.ReferralStatus,info.Id)"><i class="fa fa-2x fa-remove tooltips" data-container="body" data-placement="top" data-original-title="删除"></i></a>

                        </td>
                    </tr>
                    <tr class="tb-detail-view">
                        <td colspan="11">
                            <div class="col-md-6">
                                <p><b>女方姓名:</b>{{info.FeMaleName}}</p>
                                <p><b>女方年龄:</b>{{info.FeMaleAge}}</p>
                                <p><b>女方出生日期:</b>{{info.FeMaleBirthday}}</p>
                                <p><b>女方婚姻状态:</b>{{info.FeMaleMarrad}}</p>
                                <p><b>女方电话:</b>{{info.FeMalePhone}}</p>
                                <p><b>固定电话:</b>{{info.FeMaleFixPhone}}</p>
                                <p><b>会诊状态:</b>{{info.ConsultationStatus}}</p>
                                <p><b>转诊状态:</b>{{info.ReferralStatus}}</p>
                                <p><b>录入时间:</b>{{info.Addtime}}</p>
                                <p><b>录入人:</b>{{info.AddUserName}}</p>
                            </div>
                            <div class="col-md-6">
                                <p><b>男方姓名:</b>{{info.MaleName}}</p>
                                <p><b>男方年龄:</b>{{info.MaleAge}}</p>
                                <p><b>男方出生日期:</b>{{info.MaleBirthday}}</p>
                                <p><b>男方婚姻状态:</b>{{info.MaleMarrad}}</p>
                                <p><b>男方电话:</b>{{info.MalePhone}}</p>
                                <p><b>固定电话:</b>{{info.MaleFixPhone}}</p>
                                <p><b>会诊状态:</b>{{info.ConsultationStatus}}</p>
                                <p><b>转诊状态:</b>{{info.ReferralStatus}}</p>
                                <p><b>录入时间:</b>{{info.Addtime}}</p>
                                <p><b>录入人:</b>{{info.AddUserName}}</p>
                            </div>
                        </td>
                    </tr>

                </template>

            </tbody>
            <tfoot>
                <tr><td colspan="20"><v-page v-bind:page="datas"></v-page></td></tr>
            </tfoot>
        </table>

    </div>
</div>

<div id="modal-consultation">
    <v-modal v-cloak v-bind:tinfo="modalinfo" ref="consultationmodal">
        <div class="row">
            <div class="col-md-12">
                <form method="post" action='@Url.Action("SaveConsultationAdd","MedicalHistory")' id="saveConsultationForm">
                    <input id="TBMedicalHistoryId" name="TBMedicalHistoryId" type="hidden" />
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-3">会诊医院</label>
                            <div class="col-xs-6">
                                <select2 id="HospitalId" class="w400 required" data-placeholder="--请选择医院--" :options="info.MasterHospitalList">
                                </select2>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">选择母院排班</label>
                            @*<div class="col-xs-6">
                                    <select2 id="PlanId" class="w400 required" data-placeholder="--请选择母院--" :options="PlanList">
                                    </select2>
                                </div>*@
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 plan-select">
                                <input id="PlanId" name="PlanId" type="hidden" />
                                <h3>日期选择范围：{{PlanList.DateSelect}} - {{PlanList.EndDate}}</h3>
                                <ul>
                                    <li style="width:50px"><a href="javascript:;" v-on:click="queryprevweek"><i class="fa fa-2x fa-chevron-left"></i></a></li>
                                    <li class="table-view">
                                        <table class="table  table-bordered plan-table">
                                            <thead>
                                                <tr>
                                                    <th>序号</th>
                                                    <th>时段</th>
                                                    <th v-for="week in PlanList.WeekTitles">{{week}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(info,index) in PlanList.DateViews">
                                                    <td>{{index+1}}</td>
                                                    <td>{{info.STime}} - {{info.ETime}}</td>
                                                    <td v-for="dayPlan in info.DayPlans" :class="dayPlan.IsCanSelect==true?'':'disabled'">
                                                        <div v-if="dayPlan.IsCanSelect" class="plan-item" v-for="planView in dayPlan.PlanViews" v-on:click="selectday(planView.Id,$event)">
                                                            {{planView.DoctorName}}<i class="fa fa-check"></i>
                                                        </div>
                                                        <span v-else>{{planView.DoctorName}}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                    <li style="width:50px"><a href="javascript:;" v-on:click="querynextweek"><i class="fa fa-2x fa-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label class="control-label col-xs-3">申请会诊日期</label>
                                <div class="col-xs-6">
                                    <date-picker-simple id="RequestDate" class="w250 required"></date-picker-simple>
                                </div>
                            </div>*@
                        @*<div class="form-group">
                                <label class="control-label col-xs-3 ">会诊医生</label>
                                <div class="col-xs-6">
                                    <select2 id="DoctorId" class="w250 required" data-placeholder="--会诊医生--" :options="DoctorList">
                                    </select2>
                                </div>
                            </div>*@
                        @*<div class="form-group">
                                <label class="control-label col-xs-3 ">会诊时间段</label>
                                <div class="col-xs-6">
                                    <div class="input-group input-datetime-range">
                                        <input type="text" id="STime" class="form-control  required" name="STime">
                                        <span class="input-group-addon"> 到 </span>
                                        <input type="text" id="ETime" class="form-control required" name="ETime">
                                    </div>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label class="control-label col-xs-3 ">申请备注</label>
                            <div class="col-xs-6">
                                <textarea name="Remark" class="form-control w400" maxlength="500" rows="3" cols="20"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <button type="button" slot="bottom" class="btn blue btn-outline" id="btnSaveConsultation">保  存</button>

    </v-modal>
</div>

<div id="modal-Referral">
    <v-modal v-cloak v-bind:tinfo="modalinfo" ref="Referralmodal">
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="@Url.Action("SaveReferralAdd","MedicalHistory")" id="saveReferralForm">
                    <input id="TBMedicalHistoryId" name="TBMedicalHistoryId" type="hidden" />
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-3">转诊医院</label>
                            <div class="col-xs-6">
                                <select2 id="HospitalId" class="w300" data-placeholder="--请选择医院--" :value="masterHospitalId" :options="HospitalList">
                                </select2>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">申请转诊日期</label>
                            <div class="col-xs-6">
                                <date-picker-simple id="RequestDate" class="w300"></date-picker-simple>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3 ">申请备注</label>
                            <div class="col-xs-6">
                                <textarea name="Remark" class="form-control w300" maxlength="500" rows="3" cols="20"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <button type="button" slot="bottom" class="btn blue btn-outline" id="btnSaveReferral">保  存</button>

    </v-modal>
</div>

<div id="modal-rf-detail" class="detail-modal">
    <v-modal v-cloak v-bind:tinfo="modalinfo">
        <v-detailinfo v-bind:tinfo="detail"></v-detailinfo>
    </v-modal>
</div>

@{ Html.RenderPartial("_Paginator");}
@{ Html.RenderPartial("_Detail");}
@section styles
{
    @System.Web.Optimization.Styles.Render("~/bundles/css/select2")
    @System.Web.Optimization.Styles.Render("~/bundles/css/datepicker")
    @System.Web.Optimization.Styles.Render("~/bundles/css/datetimepicker")
    <style>
        .plan-select ul {
            list-style: none;
            margin: 0;
            padding: 10px;
        }

            .plan-select ul li {
                display: inline-block;
                padding: 5px;
                text-align: center;
                vertical-align: middle;
            }

            .plan-select ul .table-view {
                width: calc(100% - 110px);
            }

        .plan-select h3 {
            text-align: center;
            margin: 0;
        }

        .plan-select .plan-item {
            border: 1px solid green;
            padding: 4px;
            margin-bottom: 4px;
            cursor: pointer;
            position: relative;
            background-color: #fff;
        }

            .plan-select .plan-item.selected {
                background-color: green;
                color: #fff;
            }

        .plan-select .disabled {
            background-color: #ddd;
        }

        .plan-select .fa-check {
            color: #fff;
            position: absolute;
            top: 5px;
            right: 5px;
            display: none;
        }

        .plan-select .plan-item.selected .fa-check {
            display: block;
        }
    </style>
}

@section pagejs
{
    @System.Web.Optimization.Scripts.Render("~/bundles/js/select2")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/datepicker")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/datetimepicker")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/jqueryvalidate")
    @System.Web.Optimization.Scripts.Render("~/bundles/js/jqueryform")
    <script>
    $(function () {

        /**/
        /**/
        var allData = @Html.RenderAsJson(Model);
    /**/
    /**/

    var vuetable;
        var vueplantable;
        var startDate;
    //  com.responsiveHeight("#tableshow", "#mycontent");
    Vue.component('v-page', {
        template: "#vuetmp-paginator",
        props: ["page"]
    });

    Vue.component('v-detailinfo', {
        template: "#detailform-template",
        props: ["tinfo"]
    })

    var queryPlan = function (weekType) {
        var hosId = $("#HospitalId").val();
        var para = {};
        para.WeekSelect = weekType || 3;
        para.HospitalId = hosId;
        para.DateSelect = startDate;
        com.ajaxquery("/Hospital/QueryPlanByHospital", para).then(function (plans) {
            com.showLog(plans, "排班");
            vueConsultation.PlanList = plans;
            startDate = plans.DateSelect;
        });
    }

    var vueConsultation = new Vue({
        el: '#modal-consultation',
        data: {
            modalinfo: {
                id: "modalconsultation",
                title: "填写会诊信息",
                data: {},
                modalclass: "modal-myfull"

            },
            info: allData,
            PlanList: {},
            selectPlanId:0

        },
        mounted: function () {
            $("#saveConsultationForm").validateForm();
            com.handleDateTimePicker();
            $("#HospitalId", "#saveConsultationForm").on("change", function () {
                queryPlan();
            }).val(allData.DefaultMasterHospitalId).trigger('change');


        },
        methods: {
            queryprevweek: function () {
             //   alert("开始查询")
                queryPlan(1);
            },
            querynextweek: function () {
              //  alert("开始查询")
                queryPlan(2);
            },
            selectday: function(id,event) {
                //  alert(planView.DoctorName);
                $(".plan-item.selected", ".plan-select").removeClass("selected");
                $(event.target).addClass("selected");
                $("#PlanId").val(id);
            }
        }

    });



    var vueRfDetail = new Vue({
        el: '#modal-rf-detail',
        data: {
            modalinfo: {
                id: "modalDfDetail",
                title: "转诊详细信息",
                data: {}
            },
            detail: []

        }
    });

    var vueReferral = new Vue({
        el: '#modal-Referral',
        data: {
            modalinfo: {
                id: "modalReferral",
                title: "填写转诊信息",
                data: {}

            },
            HospitalList: allData.MasterHospitalList,
            masterHospitalId: allData.DefaultMasterHospitalId

        },
        mounted: function () {
            $("#saveReferralForm").validateForm();
            //  com.handleDateTimePicker();
        }

    });
    allData.STime = "";
    allData.ETime = "";
    allData.skey = "";
    var vuequery = new Vue({
        el: '#query-content',
        data: {
            info: allData
        },
        mounted: function () {
            var vm = this;
            com.handleDateRangePicker();
            $(".input-daterange input.s-time").on('change', function (ob) {
                vm.info.STime = ob.target.value;
            });
            $(".input-daterange input.e-time").on('change', function (ob) {
                vm.info.ETime = ob.target.value;
            });
        }
    });

    //    $(window).on("resize", App.initSlimScroll('#tableshow'));

    var search = function (pageIndex, sortIndex, sortType) {
        var para = {};
        para.PageIndex = pageIndex || 1;
        para.SortIndex = sortIndex || -1;
        para.SortType = sortType || 0;
        para.SearchKey = $("#search-key").val();
        com.ajaxquery("/MedicalHistory/PageQuery", para).then(function (mydata) {
            mydata.query = function (pageIndex, sortIndex, sortType) {
                search(pageIndex, sortIndex, sortType);
            }
            //  com.showLog(mydata);
            if (vuetable == null) {
                vuetable = new Vue({
                    el: '#query-table',
                    data: {
                        datas: mydata
                    },
                    mounted: function () {
                        $('.tooltips').tooltip();
                        //  App.initSlimScroll('#tableshow');
                    },
                    methods: {
                        showDetail: function (event) {
                            //  alert(event);
                            if (event) {
                                var $currBtn = $(event.target);
                                $("#query-table tbody .tb-detail-view").removeClass("open");
                                var isDetailClosed = $currBtn.hasClass("fa-plus");
                                //  alert(isDetailClosed);
                                if (isDetailClosed) {
                                    $("#query-table tbody .fa-minus").removeClass("fa-minus").addClass("fa-plus");
                                    $currBtn.removeClass("fa-plus").addClass("fa-minus").closest("tr").next().addClass("open");

                                }
                                else {
                                    $currBtn.removeClass("fa-minus").addClass("fa-plus");

                                }

                            }
                        },
                        showConsultation: function (status, id) {//弹出会诊
                            if (status == "无" || status == "已取消" || status == "已完成") {
                                $("#TBMedicalHistoryId", "#saveConsultationForm").val(id);
                                $('#modalconsultation').modal('show');
                            }
                            else if (status == "申请中") {
                                com.confirm("是否要取消申请会诊？", function () {
                                    com.ajaxquery("/MedicalHistory/UpdateConsultationToCancel", { MHId: id }).then(function (res) {
                                        if (res.Result) {
                                            ShowSuccessThenReload(res.SuccessMessage);
                                        }
                                        else {
                                            ShowErrorMessage(res.ErrorMessage);
                                        }
                                    });

                                });
                            }
                        },
                        showReferral: function (status, id, rfid) {//弹出转诊
                            if (status == "无" || status == "已取消") {
                                $("#TBMedicalHistoryId", "#saveReferralForm").val(id);
                                $('#modalReferral').modal('show');
                            }
                            else if (status == "申请中") {
                                com.confirm("是否要取消申请转诊？", function () {
                                    com.ajaxquery("/MedicalHistory/UpdateReferralToCancel", { MHId: id }).then(function (res) {
                                        if (res.Result) {
                                            ShowSuccessThenReload(res.SuccessMessage);
                                        }
                                        else {
                                            ShowErrorMessage(res.ErrorMessage);
                                        }
                                    });

                                });
                            }
                            else if (status == "已确认") {
                                //  location.href = "/Detail/Index?type=0&id=" + rfid;
                                com.ajaxquery("/Tranfer/GetDetail", { Id: rfid }).then(function (data) {
                                    vueRfDetail.detail = data;
                                    // com.showLog(data);
                                    $('#modalDfDetail').modal('show');
                                })
                            }
                        },
                        deletemh: function (cstatus, rstatus, id) {
                            if (cstatus == "申请中" || cstatus == "已确认" || cstatus == "已完成" ||
                                rstatus == "申请中" || rstatus == "已确认" || rstatus == "已完成") {
                                ShowWarningMessage("当前病历会诊或转诊状态处于(申请中|已确认|已完成),无法删除")
                                return;
                            }
                            com.confirm("是否要删除此条病历信息？<br/>所有相关信息将一并删除", function () {
                                com.ajaxquery("/MedicalHistory/Delete", { Id: id }).then(function (res) {
                                    if (res.Result) {
                                        ShowSuccessThenReload(res.SuccessMessage);
                                    }
                                    else {
                                        ShowErrorMessage(res.ErrorMessage);
                                    }
                                });

                            });
                        }
                    }
                })
            }
            else {
                vuetable.datas = mydata;
            }
        });
    };

    $("#btn-query").on("click", function () {
        //   com.showLog(vuequery.info);
        search();
    });


        $("#btnSaveConsultation").on("click", function () {
            com.jqFormOption.checkval = function () {

                if (!$("#PlanId").val()) {
                    ShowLayerAlert("请先选择医生排班");
                    return false;
                }
                return true;
            }
        com.jqFormOption.success = function (res) {
            if (res.Result) {
                ShowSuccessThenReload(res.SuccessMessage);
            }
            else {
                ShowErrorMessage(res.ErrorMessage);
            }
        }
        $("#saveConsultationForm").ajaxSubmit(com.jqFormOption);

    });

    $("#btnSaveReferral").on("click", function () {
        com.jqFormOption.success = function (res) {
            if (res.Result) {
                ShowSuccessThenReload(res.SuccessMessage);
            }
            else {
                ShowErrorMessage(res.ErrorMessage);
            }
        }
        $("#saveReferralForm").ajaxSubmit(com.jqFormOption);

    });

    /*******************************初始执行方法***********************************/
    search();




});
    </script>
}

